<!DOCTYPE html>
<html>
    <head>
        <title>Simple EJS App</title>
    </head>
    <body>
        <h1>Hello EJS UI</h1>
        <hr/>
        <ul>
            <li>Playing music</li>
            <li>Travelling  new places</li>
            <li>Learning and Teaching technologies</li>
        </ul>
    </body>
</html>