<!DOCTYPE html>
<html>
    <head>
        <title>Data Binding</title>
    </head>
    <body>
        <h1>My Liking</h1>
        <hr/>
        <center>
            Welcome  <b><%=name %> </b>  to Softobiz Solutions.
        </center>
        <ul>
            <li>Playing music</li>
            <li>Travelling  new places</li>
            <li>Learning and Teaching technologies</li>
        </ul>
    </body>
</html>