<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
    </head>
    <body>
        <h1>My Profile</h1>
        <hr/>
        <!-- data binding is done inside view-->
        <center>      
            <b><%=name %> </b>
        </center>
        <div>
            <p style="color:blue;">Full Name: <%=fullname %></p> 
        </div>
        <hr/>
        <ul>
            <li>Email:<%=email %></li>
            <li>Contact Number: <%=contactnumber%></li>
        </ul>
    </body>
</html>